In [4]:
import pandas as pd
import numpy as np
import os

# 读取 user_balance_table.csv 文件内容
data = pd.read_csv(os.getcwd() + '/user_balance_table.csv')
print(data.head());
print("__file__:", os.getcwd());

   user_id  report_date  tBalance  yBalance  total_purchase_amt  \
0        1     20140805     20385     20383                   2
1        1     20140808     20391     20389                   2
2        1     20140811     20397     20395                   2
3        1     20140814     20403     20401                   2
4        1     20140817     20409     20407                   2

   direct_purchase_amt  purchase_bal_amt  purchase_bank_amt  total_redeem_amt  \
0                    0                 0                  0                 0
1                    0                 0                  0                 0
2                    0                 0                  0                 0
3                    0                 0                  0                 0
4                    0                 0                  0                 0

   consume_amt  transfer_amt  tftobal_amt  tftocard_amt  share_amt  category1  \
0            0             0            0             0          2        NaN
1            0             0            0             0          2        NaN
2            0             0            0             0          2        NaN
3            0             0            0             0          2        NaN
4            0             0            0             0          2        NaN

   category2  category3  category4
0        NaN        NaN        NaN
1        NaN        NaN        NaN
2        NaN        NaN        NaN
3        NaN        NaN        NaN
4        NaN        NaN        NaN
__file__: /Users/liuqi/Workspace/py-training